.App {
  width: 100wh;
}

.selected{
  background-color: black;
  border-radius: 5px;
}

.playground {
  width: 60vw;
  height: 70vh;
  margin: 5vh auto;
}

.gamemap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchground {
  width: 60vw;
  height: 70vh;
  margin: 5vh auto;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}

.user_photo_nav {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.user_photo_pk {
  text-align: center;
  margin-top: 15vh
}

.user_photo_pk > img {
  height: 20vh;
  border-radius: 50%;
  border-color: rgb(255, 181, 44);
  border-width: 5px;
  border-style: solid;
}

.username {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-top: 1em;
}

.select_bot {
  padding-top: 7vh;
}

.select_bot > select {
  width: 90%;
  margin: 0 auto;
}

.vs_icon {
  text-align: center;
}

.vs_icon > img {
  height: 10vh;
  margin-top: 10vh;
}

.match_btn {
  text-align: center;
  padding-top: 10vh;
}

.login_icon {
  height: 1.8em;
  width: 1.8em;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}

.game_identi {
  width: 30vw;
  height: 10vh;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 10px;
  margin: 0.5em auto;
  padding-top: 2vh;
}

.game_identi > .game_color {
  font-size: 30px;
  font-weight: 300;
  color : "white";
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
}

.result-board {
  height: 30vh;
  width: 30vw;
  border-radius: 6px;
  background-color: rgba(50, 50, 50, 0.6);
  position: absolute;
  padding-top: 5vh;
  top: 30vh;
  left: 35vw;
}

.result-board-text {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.result-board-btn {
  padding-top: 5vh;
  text-align: center;
}

.user_photo_record {
  width: 4vh;
  border-radius: 50%;
}

.vs_record {
  font-weight: 600;
}