.App {
  width: 100wh;
}

.selected{
  background-color: black;
  border-radius: 5px;
}

.playground {
  width: 60vw;
  height: 70vh;
  margin: 5vh auto;
}

.gamemap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_photo {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.robot_icon {
  height: 2em;
  width: 2em;
  margin-top: auto;
  margin-bottom: auto;
}