.App {
  background-image: url("./assets/images/background.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.playground {
  width: 60vw;
  height: 70vh;
  margin: 5vh auto;
}

.gamemap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userPhoto {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
